/*Reset Safari User Agent Styles*/
* {
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

#guide{
	width:200%;
	height:100%;
}

.row{
	height:calc(100%/7);

}

.box{
	height:100%;
	box-sizing:border-box;
	border:1px solid;
	border-color: #66CCFF;
}


.box.film{
	text-align: center;
	position: absolute;
	height:100%;
	border-top: 0px;
	border-bottom: 0px;
}


.title{
	width: 18%;
	background: #778899;
	float: left;
	text-align: center;
	position: fixed;
	z-index: 1;
}

.content{
	height: 100%;
	width: 91%;
	float:right;
	display: inline;
	position: relative;
}

.content.header{
	background: #778899;
}



div ul li {
    list-style: none;
    text-align: center;
    box-sizing: border-box;
    width:calc(100%/15);
    float:left;
    position: absolute;
}




/*this vertically aligns text*/
.text {
position: relative;
top: 50%;
transform: translateY(-50%);
} 

.titleText{
	display: relative;
}

div .titleText{
	display:relative;

}

ul{
	height: 100%;
}


.table {
    height: calc(100%/7);
    display:table;
}

.tableContent {
    height: 100%;
    display:table;
}

.cell {
    display:table-cell;
    vertical-align:middle;
}
.childcentereddiv {
    text-align: center;
}

/*make background 'cover style' for various OS*/
html,body{
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'CourierRegular', "Courier New", Courier, monospace !important;
  max-width: 100%;
  /*overflow-x: hidden;	*/
}